<!DOCTYPE html>
<html>
  <head>
    <title>CrossoverApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'qunit-2.1.1', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application_test', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'qunit-2.1.1', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'sinon-1.17.6', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'tests', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
